{% extends "base.html" %}

{% block contenido %}

{% include 'fragments/titulo.html' with titulo="Inicio" %}

<div class="card border-success mb-3" style="max-width: 80%;" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">Bienvenido</div>
    <div class="card-body" bis_skin_checked="1">
        <h4 class="card-title">
            {% if user.is_authenticated %} Hola {{user.email}} 
            {% else %}
            <a href="{% url 'usuarios:login' %}">Login</a>
            {% endif %}
        </h4>
        <p class="card-text">{% lorem 5 %}</p>
    </div>
</div>

{% endblock %}