{% extends "base.html" %}

{% block contenido %}

{% include 'fragments/titulo.html' with titulo="Modelos Vehiculo" %}

<div class="card border-success mb-3" style="max-width: 80%;" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">Modelos</div>
    <div class="card-body" bis_skin_checked="1">
        <a href="{% url 'control:modelo_new' %}" class="btn btn-sm btn-success bi bi-plus">Nuevo</a>
        <button type="button" class="btn btn-info btn-sm bi-info" onclick="abrir_modal('{% url 'control:modelo_new_modal'%}')">
        </button>
        <table id="tbl" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block js %}
{% include "fragments/datatable.html" %}

<script>
    function borrar(id, d) {
        Swal.fire({
        title: "Seguro?",
        text: "Se eliminara " + d,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Aceptar"
        }).then((result) => {
        if (result.isConfirmed) {
            var url = `{% url 'control:modelo_list' %}delete/${id}`
            $.ajax({
                headers:{"X-CSRFToken":"{{ csrf_token }}"},
                type:"POST",
                url: url,
                success: function(r,textStatus,xhr){
                    if(xhr.status==200){
                        Swal.fire(
                            'Borrado',
                            `${d} Borrado Satisfactoriamente`,
                            'success'
                    ).then(
                        function(){
                            location.reload()
                        }
                    )
                    }
                },
                error: function(jqXHR,textStatus,error){
                    Swal.fire("Error",textStatus,"error")
                }
            })
        }
        });
    }

    
</script>

{% endblock %}