{% load crispy_forms_tags %}


<div class="modal-dialog" role="document" bis_skin_checked="1">
      <div class="modal-content" bis_skin_checked="1">
            <form action="{{ request.path }}" method="POST">
              {% csrf_token %}
                <div class="modal-header" bis_skin_checked="1">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                  </button>
                </div>
                <div class="modal-body" bis_skin_checked="1">
                  {{ form|crispy }}
                </div>
                <div class="modal-footer" bis_skin_checked="1">
                  <button type="submit" class="btn btn-sm btn-success">Guardar</button>
                  <!-- <a href="{% url 'control:modelo_list' %}" class="btn btn-sm btn-danger">Cancelar</a> -->
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
      </form>
      </div>
    </div>
  