{% extends "base.html" %}

{% block titulo %}
Acerca de la APP
{% endblock %}

{% block contenido %}

{% include 'fragments/titulo.html' with titulo="Acerca de la aplicacion" %}

<div class="card border-success mb-3" style="max-width: 20rem;" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">Header</div>
    <div class="card-body" bis_skin_checked="1">
        <h4 class="card-title">Success card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

{% endblock %}