{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}App Control Combustible{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatable/datatables.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body id="body" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
    <!-- Menu -->
    {% include 'fragments/menu.html' %}
    <!-- Fin Menu -->
    <div class="row">
        <div class="container-sm">
            {% block contenido %}
    
            {% endblock contenido %}
        </div>
    </div>

    <div id="popup" class="modal fade"></div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js" integrity="sha512-uaZ0UXmB7NHxAxQawA8Ow2wWjdsedpRu7nJRSoI2mjnwtY8V5YiCWavoIpo1AhWPMLiW5iEeavmA3JJ2+1idUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatable/datatables.min.js' %}"></script>
    <script  src="{% static 'js/htmx.js' %}" ></script>
    <script src="{% static 'js/sweetalert.js' %}"></script>

    <script>
        function abrir_modal(url){
            $("#popup").load(url,function(){
                $(this).modal({
                    backdrop:"static",
                    keyboard:false
                })
                $(this).modal('show')
            })
        }
        function cerrar_modal(){
            $("#popup").modal("hide")
            return false;
        }
    </script>

    {% block js %}
    {% endblock %}
    

</body>

</html>