{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}

{% include "fragments/titulo.html" with titulo="Registro"  %}

<div class="card border-success mb-3" style="max-width: 50rem;" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">Registro de usuario</div>
    <div class="card-body" bis_skin_checked="1">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-warning">Regitrar</button>
      </form>
    </div>
  </div>

{% endblock %}